Source: ros-foxy-rosauth
Section: misc
Priority: optional
Maintainer: Rein Appeldoorn <rein@eurotec.com>
Build-Depends: debhelper (>= 9.0.0), libssl-dev, ros-foxy-ament-cmake-gtest, ros-foxy-ament-cmake-ros, ros-foxy-launch-testing, ros-foxy-rclcpp, ros-foxy-rosidl-default-generators, ros-foxy-ros-workspace, ros-foxy-rosidl-typesupport-connext-c, ros-foxy-rosidl-typesupport-connext-cpp, ros-foxy-rosidl-typesupport-fastrtps-c, ros-foxy-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/rosauth
Standards-Version: 3.9.2

Package: ros-foxy-rosauth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-rclcpp, ros-foxy-rosidl-default-runtime, ros-foxy-ros-workspace
Description: Server Side tools for Authorization and Authentication of ROS Clients
